#sd
{
    color: #FFCA58;
}
.align-center
{
    text-align: center;
    color: black;
}

.caption
{
    margin-top: 1em;
    text-align: center;
    font-size: .8em;
}

#res
{
    color: red;
}

.preface p
{
    margin-bottom: 0;
}

.entry-img
{
    padding-top: 14rem;
    padding-bottom: 4rem;
    display: block;
    margin: auto;
    width: 20%;
}



#hdhtop
{
    padding-top: 14rem;
    display: block;
    margin: auto;
    width: 80%;
}

#beermentertop
{
    padding-top: 14rem;
    padding-bottom: 4rem;
    display: block;
    margin: auto;
    width: 20%;
    height: auto;
}

#nfl-top
{
    padding-top: 14rem;
    padding-bottom: 4rem;
    display: block;
    margin: auto;
    width: 20%;
    height: auto;
}

@media screen and (max-width: 700px)
{
    #nfl-top {
        width: 60%;
    }
}

#resmedsign
{
    padding-top: 3rem;
    display: block;
    margin: auto;
    width: 60%;
}

.centerimg
{
    display: block;
    margin: 0 auto;
    min-width: 67%;
}

#hdhinitper
{
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 1rem;
    border: none;
}

#hdhstoryboards
{
    width: 90%;
    margin-top: -2rem;
    margin-bottom: 2rem;
    border: none;
}

#hdhbrainstorm 
{
    width: 70%;
    border: none;
}

#hdhprototype
{
    width: 70%;
    margin-top: 6rem;
    margin-bottom: 7rem;
    border: none;
    transform: rotate(90deg);
}

#hdhrefined
{
    width: 95%;
    margin-top: 3rem;
    margin-bottom: 2rem;
    border: none;
}

#hdhrapid
{
    width: 55%;
    margin-top: 3rem;
    margin-bottom: 2rem;
    border: none;
}

#hdhmobile 
{
    width: 100%;
    margin-bottom: 2rem;
    border: none;
}

#hdhteam 
{
    width: 70%;
    margin-bottom: .5rem;
}


#isctop
{
    padding-top: 14rem;
    display: block;
    margin: auto;
    width: 80%;
}


#iscpersonas 
{
    width: 80%;
    margin-top: 2rem;
    margin-bottom: 1rem;
    border: none;
}

#isccomp 
{
    width: 80%;
    border:none;
}

.wiref 
{
    width: 100%;
    border: none;
    margin-top: 3rem;
    margin-bottom: 1rem;
}

#iscf 
{
    width: 100%;
    border: none;
    margin-top: 2rem;
}


#portrait
{
    width: 50%;
    margin: 0 auto;
    
}



#spottop
{
    padding-top: 14rem;
    display: block;
    margin: auto;
    width: 80%;
}

#spotcomp 
{
    border: none;
    width: 100%;
}

#spotsketch
{
    border: none;
    width: 100%;
}

#spotellis 
{
    border: none;
    width: 45%;
}

#spotia
{
    border: none;
    width: 35%;
}

#spotanalyze 
{
    border: none;
    width: 35%;
}

#spotfinal 
{
    border: none;
    width: 100%;
}

#about
{
    width: 100%;
    padding-top: 14rem;
    padding-left: 11px;
    margin: 0 auto;
}

.resAssist
{
   
    max-width: 100%;
    border: none;
    overflow: auto;
}




@media (max-width: 992px)
{
    .about-content
    {
        width: 95%;
    }
    #about 
    {
        width: 90%;
    }
    #portrait 
    {
        margin-bottom: 3rem;
    }
    #resmedsign 
    {
        width: 90%;
    }
    #hdhtop 
    {
        width: 90%;
    }
}



.width-fix
{
    width: 70%;
}

.width-fifty
{
    margin-bottom: 2em;
    min-width: 47%;
    max-width: 47%;
}