
/* =======================================================
*
* 	Template Style 
*
* ======================================================= */
* {
  -webkit-font-smoothing: antialiased;

}

@font-face {
  font-family: 'basier_circlebold';
  src: url('../fonts/basier-circle-bold-webfont.woff2') format('woff2'),
       url('../fonts/basier-circle-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'basier_circlemedium';
  src: url('../fonts/basier-circle-medium-webfont.woff2') format('woff2'),
       url('../fonts/basier-circle-medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'basier_circleregular';
  src: url('../fonts/basiercircle-regular-webfont.woff2') format('woff2'),
       url('../fonts/basiercircle-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}


@font-face {
  font-family: 'basier_squarebold';
  src: url('../fonts/basiersquare-bold-webfont.woff2') format('woff2'),
       url('../fonts/basiersquare-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'basier_squareregular';
  src: url('../fonts/basiersquare-regular-webfont.woff2') format('woff2'),
       url('../fonts/basiersquare-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
  
  

.head-font
{
  
  font-family: 'basier_circlebold', sans-serif !important;
  font-size: 3.7em;
  color: #2D2D2D;
  letter-spacing: 1.3px;
  padding-bottom: .1em;
}

.sub-font
{
  font-family: "basier_circleregular", sans-serif;
  font-weight: 300;
  font-size: 1.35em !important;
  width: 88%;
  letter-spacing: .1px;
  line-height: 1.3em !important;
}



body, p, li {
  font-family: 'basier_circleregular', sans-serif !important;
  font-weight: 200 !important;
  font-size: 16px;
  line-height: 1.8;
  color: #454545;
  letter-spacing: .12px;
}

ul, li 
{
  letter-spacing: .32px;
}


#page {
  position: relative;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; 
  background-color: #f5f5f5 !important;
}
.offcanvas #page {
  overflow: hidden;
  position: absolute;
}
.offcanvas #page:after {
  -webkit-transition: 2s;
  -o-transition: 2s;
  transition: 2s;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 101;
  background: rgba(0, 0, 0, 0.7);
  content: "";
}

a {
  color: black;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
a:hover, a:active, a:focus {
  color: lightgray;
  outline: none;
  text-decoration: none;
}

p {
  margin-bottom: 20px;
}

h1, h2, h3, h4, h5, h6, figure {
  color: black;
  margin: 0 0 10px 0;
}


h3 {
 font-size: 40px;
}

h4 {
  font-size: 22px;
}

.proj-name 
{
  font-size: 30px;
  color: #454545;
  font-weight: 600;
}


::-webkit-selection {
  color: #fff;
  background: #C8D3D5;
}

::-moz-selection {
  color: #fff;
  background: #C8D3D5;
}

::selection {
  color: black;
  background: #C8D3D5;
}

.fh5co-nav {
  position: fixed;
  top: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  padding: 0;
  z-index: 1001;
}
.fh5co-nav .top-menu {
  background-color: #F5f5f5;
  padding: 15px 0;
}

.hr-edit{
  border: .7px solid #E4E4E4;
  margin-top: 3em;
  margin-bottom: 3em;
  border-radius: 30px;
}
/* .fh5co-nav .top {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  padding: 7px 0;
  margin-bottom: 0;
}
.fh5co-nav .top .num, .fh5co-nav .top .fh5co-social {
  display: inline-block;
  margin: 0;
}
.fh5co-nav .top .num {
  color: rgba(255, 255, 255, 0.6);
  font-size: 13px;
  padding-right: 20px;
  margin-right: 10px;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  letter-spacing: 0px;
}
.fh5co-nav .top .fh5co-social li {
  font-size: 14px;
}
.fh5co-nav .top .fh5co-social li a {
  padding: 0 7px;
}
.fh5co-nav .top .fh5co-social li a i {
  font-size: 14px;
} */
.fh5co-nav #fh5co-logo {
  font-family: "basier_circlebold", Arial, sans-serif;
  font-size: 20px;
  margin: 0;
  padding: 0;
  letter-spacing: 50px !important;
 
}


.fh5co-nav #fh5co-logo a span {
  color: #98E6FB;
}

.fh5co-nav a {
  font-size: 25px;
  padding: 5px 5px;
  color: #454545;
  font-weight: 600;
  letter-spacing: 1.5px;
  
}


.fh5co-nav ul {
  
  padding: 0;
  margin: 5px 0 0 0;
}
.fh5co-nav ul li {
  padding: 0;
  margin: 0;
  list-style: none;
  display: inline;
  color: #454545;
}
.fh5co-nav ul li a {
  font-family: "basier_circleregular", sans-serif;
  font-size: .70em;
  padding: 30px 30px;
  font-weight: 600;
  color: #454545;
  letter-spacing: 1px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}


.fh5co-nav ul li.has-dropdown {
  position: relative;
}

.fh5co-nav ul li.has-dropdown .dropdown {
  width: 140px;
  -webkit-box-shadow: 0px 14px 33px -9px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 14px 33px -9px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 14px 33px -9px rgba(0, 0, 0, 0.75);
  z-index: 1002;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 40px;
  left: 0;
  text-align: left;
  background: #000;
  padding: 20px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: 0s;
  -o-transition: 0s;
  transition: 0s;
}


.fh5co-nav ul li.has-dropdown .dropdown:before {
  bottom: 100%;
  left: 40px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: #000;
  border-width: 8px;
  margin-left: -8px;
}
.fh5co-nav ul li.btn-cta a:hover span {
  -webkit-box-shadow: 0px 14px 20px -9px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 14px 20px -9px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 14px 20px -9px rgba(0, 0, 0, 0.75);
}


.fh5co-nav ul li.has-dropdown .dropdown li {
  display: block;
  margin-bottom: 7px;
}
.fh5co-nav ul li.has-dropdown .dropdown li:last-child {
  margin-bottom: 0;
}
.fh5co-nav ul li.has-dropdown .dropdown li a {
  padding: 2px 0;
  display: block;
  color: #999999;
  line-height: 1.2;
  text-transform: none;
  font-size: 13px;
  letter-spacing: 0;
}
.fh5co-nav ul li.has-dropdown .dropdown li a:hover {
  color: #fff;
}
.fh5co-nav ul li.has-dropdown:hover a, .fh5co-nav ul li.has-dropdown:focus a {
  color: #fff;
}
.fh5co-nav ul li.btn-cta a {
  color: #fff;
}
.fh5co-nav ul li.btn-cta a span {
  background: #FC5185;
  padding: 4px 20px;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  border-radius: 100px;
}

.fh5co-nav ul li.active > a {
  color: #fff !important;
}



#fh5co-header,
#fh5co-counter,
.fh5co-bg {

  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  position: relative;
}

.fh5co-bg {
  background-size: cover;
  background-position: center center;
  position: relative;
  width: 100%;
  float: left;
  color: #909AAC;
}



#fh5co-header .display-tc .btn:hover,
#fh5co-counter .display-tc .btn:hover,
.fh5co-cover .display-tc .btn:hover {
  background: #6782A2 !important;
  -webkit-box-shadow: 0px 14px 30px -15px rgba(0, 0, 0, 0.75) !important;
  -moz-box-shadow: 0px 14px 30px -15px rgba(0, 0, 0, 0.75) !important;
  box-shadow: 0px 14px 30px -15px rgba(0, 0, 0, 0.75) !important;
}


.fh5co-video:hover a {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}

.display-tc{
  background-color: #FBFBFB !important; 
}


.fh5co-cover {
  height: 15em;
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  position: relative;
  float: left;
  width: 100%;
  background-color: #F5F5F5 !important;
}
.fh5co-cover .overlay {
  z-index: 0;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  
}
.fh5co-cover > .fh5co-container {
  position: relative;
  z-index: 10;
}

@media screen and (max-width: 1000px) {
  .sub-font {
    width: 100%;
  }
}

.display-tc{
  border: 5px #F4F4F4 double;
}

.fh5co-cover .display-t,
.fh5co-cover .display-tc {

  margin: 0 auto;
  z-index: 9;
  display: table;
  width: 100%;
  padding: 3em;
  /* background-color: #FCEABC; */
}

@media screen and (max-width: 1200px){
  .fh5co-cover .display-t,
.fh5co-cover .display-tc {
  margin: 0 auto;
  padding: 2.2em;
  width: 78%;
}
}

@media screen and (max-width: 1000px){
  .fh5co-cover .display-t,
.fh5co-cover .display-tc {
  padding: 1.5em;
  width: 84%;
}
}

@media screen and (max-width: 500px){
  .fh5co-cover .display-t,
.fh5co-cover .display-tc {
  width: 100%;
}
}


.about-content {
  margin-bottom: 7em;
  width: 65%;
  margin: 0 auto;
}
/* .about-content img {
  border: 1px solid rgba(0, 0, 0, 0.05);
  padding: 10px;
} */
.about-content .desc {
  margin-bottom: 3em;
}

.fh5co-staff {
  text-align: center;
  margin-bottom: 30px;
}
.fh5co-staff img {
  width: 170px;
  margin-bottom: 20px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.fh5co-staff h3 {
  font-size: 24px;
  margin-bottom: 5px;
}
.fh5co-staff p {
  margin-bottom: 30px;
}
.fh5co-staff .role {
  color: #bfbfbf;
  margin-bottom: 30px;
  font-weight: normal;
  display: block;
}

.fh5co-social-icons {
  margin: 0;
  padding: 0;
}
.fh5co-social-icons li {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
}
.fh5co-social-icons li a {
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  color: #FC5185;
  padding-left: 10px;
  padding-right: 10px;
}

.fh5co-social-icons li a i {
  font-size: 20px;
}

.fh5co-contact-info ul {
  padding: 0;
  margin: 0;
}
.fh5co-contact-info ul li {
  padding: 0 0 0 40px;
  margin: 0 0 30px 0;
  list-style: none;
  position: relative;
}
.fh5co-contact-info ul li:before {
  color: #FC5185;
  position: absolute;
  left: 0;
  top: .05em;
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.fh5co-contact-info ul li.address:before {
  font-size: 30px;
  content: "\e9d1";
}

.fh5co-contact-info ul li.phone:before {
  font-size: 23px;
  content: "\e9f4";
}
.fh5co-contact-info ul li.email:before {
  font-size: 23px;
  content: "\e9da";
}
.fh5co-contact-info ul li.url:before {
  font-size: 23px;
  content: "\e9af";
}

#fh5co-header .display-tc,
#fh5co-counter .display-tc,
.fh5co-cover .display-tc {
  display: table-cell !important;
  vertical-align: middle;
}
#fh5co-header .display-tc h1, #fh5co-header .display-tc h2,
#fh5co-counter .display-tc h1,
#fh5co-counter .display-tc h2,
.fh5co-cover .display-tc h1,
.fh5co-cover .display-tc h2 {
  margin: 0;
  padding: 0;
  color: black;
}

#fh5co-header .display-tc h1,
#fh5co-counter .display-tc h1,
.fh5co-cover .display-tc h1 {
  margin-bottom: 20px;
  font-size: 54px;
  line-height: 1.2;
  font-weight: 300;
}
#fh5co-header .display-tc h1 strong,
#fh5co-counter .display-tc h1 strong,
.fh5co-cover .display-tc h1 strong {
  font-weight: 700;
}
@media screen and (max-width: 768px) {
  #fh5co-header .display-tc h1,
  #fh5co-counter .display-tc h1,
  .fh5co-cover .display-tc h1 {
    font-size: 40px;
  }
}
#fh5co-header .display-tc h2,
#fh5co-counter .display-tc h2,
.fh5co-cover .display-tc h2 {
  font-size: 20px;
  line-height: 1.1;
  margin-bottom: 30px;
}
#fh5co-header .display-tc .btn,
#fh5co-counter .display-tc .btn,
.fh5co-cover .display-tc .btn {
  padding: 15px 30px;
  background: #919AAA !important;
  color: #fff;
  border: none !important;
  font-size: 18px;
  text-align: center;
}

#fh5co-header .display-tc .form-inline .form-group,
#fh5co-counter .display-tc .form-inline .form-group,
.fh5co-cover .display-tc .form-inline .form-group {
  width: 100% !important;
  margin-bottom: 10px;
}
#fh5co-header .display-tc .form-inline .form-group .form-control,
#fh5co-counter .display-tc .form-inline .form-group .form-control,
.fh5co-cover .display-tc .form-inline .form-group .form-control {
  width: 100%;
  background: #fff;
  border: none;
}

.project-content .col-forth .project{
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
  margin-bottom: 40px;
  -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.18);
  -moz-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.18);
  -ms-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.18);
  -o-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.18);
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.18);
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  /* border: 6px #EFF6EE solid; */
  /* box-shadow: -1.2em -1.2em 0 0px #454545; */
}


/* .port-overlay-cont::after {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  transition: all .3s cubic-bezier(.3,.1,.58,1);
  height: 100%;
} */





.fh5co-bg-section {
  background: rgba(0, 0, 0, 0.05);
}

#fh5co-services,
#fh5co-started,
#fh5co-testimonial,
#fh5co-started,
#fh5co-project,
#fh5co-about,
#fh5co-contact,
#fh5co-footer {
 
  padding: 0 0;
  clear: both;
}

#proj-bg
{
  padding-top: 10em;
  background-color: #F5F5F5;
} 

@media screen and (max-width: 768px){
#proj-bg{
  padding-top: 7em;
}
}

@media screen and (max-width: 768px) {
  #fh5co-services,
  #fh5co-started,
  #fh5co-testimonial,
  #fh5co-started,
  #fh5co-project,
  #fh5co-about,
  #fh5co-contact,
  #fh5co-footer {
    padding: 2em 0;
  }
}

.iphone {
  width: 80%;
  margin: 0 auto;
}

.services-inner {
  margin-top: 5em;
}

.feature-center {
  padding-left: 90px;
  float: left;
  width: 100%;
  margin-bottom: 40px;
  position: relative;
}
@media screen and (max-width: 768px) {
  .feature-center {
    margin-bottom: 50px;
  }
}
.feature-center .desc {
  padding-left: 50px; 
}
.feature-center .icon {
  margin-bottom: 20px;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}
.feature-center .icon i {
  font-size: 60px;
  color: #FC5185;
}
.feature-center .icon2 {
  float: left;
}
.feature-center .icon2 i {
  font-size: 100px;
}
.feature-center p, .feature-center h3 {
  margin-bottom: 30px;
}
.feature-center h3 {
  font-size: 22px;
  color: #FC5185 !important;
}

.project-content {
  width: 92%;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 7em;
  margin: 0 auto;
}

.colours{
  background-color: rgb(252, 252, 252);
}

.project-content .col-forth.highlight {
  width: 100%;
  float: left;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 auto;
}

.project-content .col-forth {
  width: 50%;
  float: left;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 auto;
}


.beg-nav{
  border: solid 1px;
  border-radius: 10px;
  padding: 5px 15px;
  float: left;
  text-align: left;
}

.end-nav{
  border: solid 1px;
  border-radius: 10px;
  padding: 5px 15px;
  float: right;
  text-align: right;
}

.p-btn{
  border: solid 1px;
  border-radius: 10px;
  padding: 5px 15px;
}

#tn-sm.project{
  background-image: url('../images/truenutrition.png')
}

#nfl-sm.project {
  background-image: url('../images/nfl.png')
}

  #bm-sm.project {
    background-image: url('../images/beermenter2.png')
  }
  #library-sm.project {
    background-image: url('../images/library.png')
  }
  #rm-sm.project{
    background-image: url('../images/resmed.png')
  }
  #hdh-sm.project{
    background-image: url('../images/hdh.png')
  }
  #spot-sm.project{
    background-image: url('../images/playground-proj.png')
  }


@media screen and (m-width: 1651px){
  .project-content{
    width: 83%;
  }
  .col-forth {
    width: 100%;
  }
}

@media screen and (max-width: 900px){
  .project-content .col-forth{
    width: 100%;
  }
  .col-forth 
  {
    width: 100%;
  }
}

.project .port-overlay-cont {
  width: 100%;
  padding: 150px 40px;
  visibility: hidden;
  transition: visibility 0s, opacity 0.5s linear;
}

.project .port-overlay-cont h4{
  font-style: bold !important;
}

.project:hover .port-overlay-cont {
  visibility: visible;
  opacity: 1;
}

.project-content .col-forth .project:after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: '';
  z-index: -2;
  background: rgb(255, 255, 255, .94);
  opacity: 0;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.project-content .col-forth .project:hover, .project-content .col-forth .project:focus {
  -webkit-box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 0.07);
  -moz-box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 0.07);
  -ms-box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 0.07);
  -o-box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 0.07);
  box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 0.07);

}

.project-content .col-forth .project:hover:after, .project-content .col-forth .project:focus:after {
  opacity: 1;

}
.project-content .col-forth .project:hover .desc, .project-content .col-forth .project:focus .desc {
  bottom: 0;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.project-content .col-forth .project {
  height: 360px;
  width: 100%;
}

@media screen and (max-width: 480px) {
  .project-content .col-forth .project {
    height: 340px !important;
    margin-bottom: 20px;
  }
}

.project-content .desc {
  background: white;
  padding: 10px 20px;
  position: absolute;
  bottom: -10px;
  left: 0;
  right: 0;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.project-content .desc:after {
  position: absolute;
  right: 0;
  left: 0;
  width: 103%;
  height: 50px;
  z-index: -1;
  content: "";
  background: #fff;
  -webkit-transform: rotate(4deg);
  -moz-transform: rotate(4deg);
  -ms-transform: rotate(4deg);
  -o-transform: rotate(4deg);
  transform: rotate(4deg);
}
.project-content .desc h3 {
  font-size: 20px;
  font-weight: 500;
}
.project-content .desc span {
  color: rgba(0, 0, 0, 0.6);
  letter-spacing: 1px;
  font-size: 13px;
  
}
@media screen and (max-width: 768px) {
  .project-content .desc {
    bottom: 0;
  }
}

.fhco-cta-block {
  border: 2px solid #FC5185;
  padding: 30px;
  margin-bottom: 30px;
  float: left;
  width: 100%;
}
.fhco-cta-block h2 {
  font-size: 20px;
  margin-bottom: 20px;
  color: #FC5185;
}
.fhco-cta-block p {
  line-height: 1.5;
}
.fhco-cta-block p:last-child {
  margin-bottom: 0;
}


.fh5co-heading {
  margin-bottom: 5em;
}
.fh5co-heading.fh5co-heading-sm {
  margin-bottom: 2em;
}
.fh5co-heading h2 {
  font-size: 36px;
  margin-bottom: 20px;
  line-height: 1.5;
  font-weight: bold;
  color: #000;
}
.fh5co-heading p {
  font-size: 18px;
  line-height: 1.5;
  color: #828282;
}
.fh5co-heading span {
  display: block;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 2px;
}


#fh5co-started {
  background: rgba(76, 74, 138, 0.9);
}
#fh5co-started .fh5co-heading {
  margin-bottom: 2em !important;
}
#fh5co-started .fh5co-heading h2 {
  color: #fff;
  margin-bottom: 20px !important;
}
#fh5co-started .fh5co-heading p {
  color: rgba(255, 255, 255, 0.5);
}
#fh5co-started .form-control {
  background: rgba(255, 255, 255, 0.2);
  border: none !important;
  color: #fff;
  font-size: 16px !important;
  width: 100%;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
#fh5co-started .form-control::-webkit-input-placeholder {
  color: #fff;
}
#fh5co-started .form-control:-moz-placeholder {
  /* Firefox 18- */
  color: #fff;
}
#fh5co-started .form-control::-moz-placeholder {
  /* Firefox 19+ */
  color: #fff;
}
#fh5co-started .form-control:-ms-input-placeholder {
  color: #fff;
}
#fh5co-started .form-control:focus {
  background: rgba(255, 255, 255, 0.3);
}
#fh5co-started .btn {
  height: 54px;
  border: none !important;
  background: #FC5185;
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 400;
  padding-left: 50px;
  padding-right: 50px;
}
#fh5co-started .form-inline .form-group {
  width: 100% !important;
  margin-bottom: 10px;
}
#fh5co-started .form-inline .form-group .form-control {
  width: 100%;
}

#fh5co-footer {
  background: #efefef;
}
#fh5co-footer .fh5co-footer-links {
  padding: 0;
  margin: 0;
}
#fh5co-footer .fh5co-footer-links li {
  padding: 0;
  margin: 0;
  list-style: none;
}
#fh5co-footer .fh5co-footer-links li a {
  color: #000;
  text-decoration: none;
}
#fh5co-footer .fh5co-footer-links li a:hover {
  text-decoration: underline;
}
#fh5co-footer .fh5co-widget {
  margin-bottom: 30px;
}
@media screen and (max-width: 768px) {
  #fh5co-footer .fh5co-widget {
    text-align: left;
  }
}
#fh5co-footer .fh5co-widget h3 {
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 15px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
#fh5co-footer .copyright .block {
  display: block;
}

#fh5co-offcanvas {
  position: absolute;
  z-index: 1901;
  width: 270px;
  background: black;
  top: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 75px 40px 40px 40px;
  overflow-y: auto;
  display: none;
  -moz-transform: translateX(270px);
  -webkit-transform: translateX(270px);
  -ms-transform: translateX(270px);
  -o-transform: translateX(270px);
  transform: translateX(270px);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
@media screen and (max-width: 768px) {
  #fh5co-offcanvas {
    display: block;
  }
}
.offcanvas #fh5co-offcanvas {
  -moz-transform: translateX(0px);
  -webkit-transform: translateX(0px);
  -ms-transform: translateX(0px);
  -o-transform: translateX(0px);
  transform: translateX(0px);
}
#fh5co-offcanvas a {
  color: rgba(255, 255, 255, 0.5);
}
#fh5co-offcanvas a:hover {
  color: rgba(255, 255, 255, 0.8);
}
#fh5co-offcanvas ul {
  padding: 0;
  margin: 0;
}
#fh5co-offcanvas ul li {
  padding: 0;
  margin: 0;
  list-style: none;
}
#fh5co-offcanvas ul li > ul {
  padding-left: 20px;
  display: none;
}
#fh5co-offcanvas ul li.offcanvas-has-dropdown > a {
  display: block;
  position: relative;
}
#fh5co-offcanvas ul li.offcanvas-has-dropdown > a:after {

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\e921";
  font-size: 20px;
  color: rgba(255, 255, 255, 0.2);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
#fh5co-offcanvas ul li.offcanvas-has-dropdown.active a:after {
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  transform: rotate(-180deg);
}

.uppercase {
  font-size: 14px;
  color: #000;
  margin-bottom: 10px;
  font-weight: 700;
  text-transform: uppercase;
}

.gototop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.gototop.active {
  opacity: 1;
  visibility: visible;
}
.gototop a {
  width: 50px;
  height: 50px;
  display: table;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  text-align: center;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
}
.gototop a i {
  height: 50px;
  display: table-cell;
  vertical-align: middle;
}
.gototop a:hover, .gototop a:active, .gototop a:focus {
  text-decoration: none;
  outline: none;
}

.row-pb-md {
  padding-bottom: 4em !important;
}

.row-pb-sm {
  padding-bottom: 2em !important;
}

.fh5co-loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url(../images/loader.gif) center no-repeat #fff;
}



.js .animate-box {
  opacity: 0;
}

.social-media
{
  font-size: 32px;
  margin-right: 12px;
}

#about-img
{
  padding-bottom: 1.9rem;
}

.scale-img
{
  display: block;
  margin: 0 auto;
  width: 50%;
}

.fill-container
{
  display: block;
  margin: 0 auto;
  width: 100%;
}


.fit-container img
{
  width: 50%;
  height: auto;
  overflow: hidden;
}

.mobile-width
{
  display: block;
  margin: 0 auto;
  width: 40%;
}

.redesign 
{
  border: 0 none;
}

#figures 
{
  text-align: center;
}

figure 
{
  display: inline-block; 
  width: 40%;
  text-align: center;
  
}

figcaption
{
  text-align: center;
  margin-top: 1em;
  font-size: .8em;
}


.img-float
{
  width: 85%; 
}

.owl-carousel-fullwidth
{
  margin: 0 auto;
  height: 100% !important;
}



.grad
{
  -moz-transition: all .4s ease-in-out !important;
  -o-transition: all .4s ease-in-out !important;
  -webkit-transition: all .4s ease-in-out !important;
  transition: all .4s ease-in-out !important;


}

.grad:hover
{
  background-position: 100% 0 !important;
  -moz-transition: all .4s ease-in-out !important;
  -o-transition: all .4s ease-in-out !important;
  -webkit-transition: all .4s ease-in-out !important;
  transition: all .4s ease-in-out !important;
}

.colors
{
  /* background-image: linear-gradient(to right, #ffffff 0%, #f5f5f5 50%, #ebebeb 90%) !important;  */
  background-color: #f8f8f8 !important;
 
}

.project > .desc > span
{
  letter-spacing: .6px;
}

.project > .desc > h3
{
  letter-spacing: .7px;
}

.proj-title
{
  font-size: 50px;
  margin-bottom: 0.35em;
}

#test12{
  height: 100% !important;
}

.index-hl
{
  display: inline-block;
  font-size: 70%;
}

#menuz {
  padding-left: 0;
}

#menuz li { 
  display: inline;
  padding-right: 5em;
  font-size: 1.0em;
}


@media screen and (max-width: 1000px) {
  #menuz li{
    width: 100%;
    padding-right: 2.5em;
  }
}

@media screen and (max-width: 510px) {
  #menuz li{
    width: 100%;
    padding-right: .4em;
  }
} 

.desc.about-b{
  margin-top: 10px;
  padding: 22px;
  background-color: #ffffff;
}

#menu-1
{
  font-size: 13em !important;
}

